<div class="panel panel-primary" id="container">
    <div class="panel-heading" align="center">
        Register a new account: 
    </div>

    <div class="panel-body">
        <form class="form-horizontal"
              (ngSubmit)="onSubmit(f)"
              #f="ngForm" 
              [formGroup]="signUpForm" novalidate>
            <fieldset>
                <div class="form-group"
                    [ngClass]="{'has-error': (signUpForm.get('firstName').touched || 
                                              signUpForm.get('firstName').dirty) &&
                                              !signUpForm.get('firstName').valid }">
                    <label class="col-md-2 control-label" 
       
                    for="firstName">First Name: </label>

                    <div class="col-md-8">
                        <input class="form-control" 
                               id="firstName" 
                               type="text" 
                               placeholder="first name (required)" 
                               formControlName="firstName" />
                        <span class="help-block" *ngIf="(signUpForm.get('firstName').touched || 
                                                         signUpForm.get('firstName').dirty) && 
                                                         signUpForm.get('firstName').errors">
                            <span *ngIf="signUpForm.get('firstName').errors.required">
                                Please enter your first name.
                            </span>
                            <span *ngIf="signUpForm.get('firstName').errors.minlength">
                                ERROR: First name must be longer than 3 characters.
                            </span>
                        </span>
                    </div>
                </div>
                <div class="form-group"
                    [ngClass]="{'has-error': (signUpForm.get('lastName').touched || signUpForm.get('lastName').dirty) && !signUpForm.get('lastName').valid }">
                    <label class="col-md-2 control-label" 
                        for="lastName">Last Name: </label>

                    <div class="col-md-8">
                        <input class="form-control" 
                               id="lastName" 
                               type="text" 
                               placeholder="last name (required)" 
                               formControlName="lastName" />
                        <span class="help-block" *ngIf="(signUpForm.get('lastName').touched 
                                                        || signUpForm.get('lastName').dirty)
                                                        && signUpForm.get('lastName').errors">
                            <span *ngIf="signUpForm.get('lastName').errors.required">
                                Please enter your last name.
                            </span>
                             <span *ngIf="signUpForm.controls.lastName.errors.minlength">
                                ERROR: First name must be longer than 3 characters.
                            </span>
                       </span>
                    </div>
                </div>

                <div class="form-group"
                    [ngClass]="{'has-error': (signUpForm.get('email').touched || 
                    signUpForm.get('email').dirty) &&
                    !signUpForm.get('email').valid }">

                        <label class="col-md-2 control-label" 
                            for="email">Email: </label>

                        <div class="col-md-8">
                            <input class="form-control" 
                                id="email" 
                                type="email" 
                                placeholder="email (required)" 
                                formControlName = "email" />
                                <span class="help-block" *ngIf="(signUpForm.get('email').touched 
                                                               || signUpForm.get('email').dirty)
                                                               && signUpForm.get('email').errors">
                                    <span *ngIf="signUpForm.get('email').errors.required">
                                        Please enter your email address.
                                    </span>
                                    <span *ngIf="signUpForm.get('email').errors.pattern">
                                        ERROR: Enter a valid email address
                                    </span>
                               </span>
                        </div>
                </div>

                <div class="form-group"
                [ngClass]="{'has-error': (signUpForm.get('confirmEmail').touched || 
                signUpForm.get('confirmEmail').dirty) &&
                !signUpForm.get('confirmEmail').valid }">

                    <label class="col-md-2 control-label" 
                        for="email">Confirm Email: </label>

                    <div class="col-md-8">
                        <input class="form-control" 
                            id="email" 
                            type="email" 
                            placeholder="same email (required)" 
                            formControlName = "confirmEmail" />
                            <span class="help-block" *ngIf="(signUpForm.get('confirmEmail').touched 
                                                           || signUpForm.get('confirmEmail').dirty)
                                                           && signUpForm.get('confirmEmail').errors">
                                <span *ngIf="signUpForm.get('confirmEmail').errors.required">
                                    Please enter your confirmation email.
                                </span>
                                <span *ngIf="signUpForm.get('confirmEmail').errors.pattern">
                                    ERROR: Enter a valid email address
                                </span>
                           </span>
                    </div>
            </div>
                
                <div class="form-group"
                    [ngClass]="{'has-error': (signUpForm.get('mobile').touched || 
                    signUpForm.get('mobile').dirty) &&
                    !signUpForm.get('mobile').valid }">

                        <label class="col-md-2 control-label" 
                            for="mobile">Mobile Number: </label>

                        <div class="col-md-8">
                            <input class="form-control" 
                                id="number" 
                                type="text"
                                maxlength="8"
                                minlength="8"
                                placeholder="mobile number (required)" 
                                formControlName = "mobile"/>
                                <span class="help-block" *ngIf="(signUpForm.get('mobile').touched 
                                                                || signUpForm.get('mobile').dirty) 
                                                                && signUpForm.get('mobile').errors">
                                    <span *ngIf="signUpForm.get('mobile').errors.required">
                                        Please Enter Your Mobile Number
                                    </span>

                                    <span *ngIf="signUpForm.get('mobile').errors.minlength || signUpForm.mobile.errors.maxlength">
                                            ERROR: Mobile must be 8 integers long!
                                    </span>  
                                                                       
                               </span>
                        </div>
                </div>

                <div class="form-group"
                    [ngClass]="(signUpForm.get('notification').touched 
                    || signUpForm.get('notification').dirty) 
                    && signUpForm.get('notification').errors">
                    <label class="col-md-2 control-label">Notification Option:</label>
                  
                    <div class="col-md-8">
                        <div class="radio">
                            <label class="control-label" for="notification">
                                <input type="radio" 
                                       id="notification"
                                       formControlName="notification" 
                                       value="email" ngModel>
                                Email
                            </label>
                        </div>
                        <div class="radio">
                            <label class="control-label" for="notification">
                                <input type="radio" 
                                       id="notification"
                                       formControlName="notification" 
                                       value="text" ngModel>
                                Text
                            </label>
                        </div>
                        <span class="help-block" *ngIf="(signUpForm.get('notification').touched 
                                || signUpForm.get('notification').dirty) 
                                && signUpForm.get('notification').errors">
                            <span *ngIf="signUpForm.get('notification').errors.required">
                                Please Choose an option
                            </span>>                                            
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Click to recieve catalog:</label>
                    
                    <div class="col-md-8">
                        <label class="checkbox-inline">
                            <input type="checkbox" 
                                   id="catalog"
                                   value="false" 
                                   formControlName="catalog" ngModel>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary"
                                    type="submit"
                                    [disabled]="!signUpForm.valid">
                                Save
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
