<div class="panel panel-primary" id="container">
    <div class="panel-heading" align="center">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="col-md-7">
            <agm-map [latitude]="lat" [longitude]="lng"></agm-map>
        </div>
        <div class="col-md-5">
            <h3>Contact Us</h3>
            <p>Malta Property aims to offer its clientele an attentive, quality service that 
               provides solutions to all customer requirements. Great importance is placed on customer
               service, as clients are the heart of the business. All sorts of enquiries and feedback
               are encouraged, from service queries and complaints, to suggestions and general questions.
            </p><br>
            <h4>Telephone</h4>
            (+356) 21999999<br>
            (+356) 21888888<br>
            
            <br><h4>Email</h4>
            info@maltaproperty.com
        </div>
    </div>
</div>