<div class="panel panel-primary" id="container">
    <div class="panel-heading" align="center">
        {{pageTitle}}
    </div>

    <div class="panel-body">
        <form #f="ngForm" 
              (ngSubmit)="onSubmit(f)" 
              class="form-horizontal" 
              [formGroup]="propForm" novalidate>
            <fieldset>

                <div class="form-group"
                    [ngClass]="{'has-error': (propForm.get('propertyType').touched || 
                    propForm.get('propertyType').dirty) &&
                    !propForm.get('propertyType').valid }">
                    <label class="col-md-2 control-label"
                        for="propertyType">Property Type: </label>

                    <div class="col-md-8">
                        <input class="form-control"
                               id="propertyType" 
                               name="propertyType" 
                               formControlName = "propertyType"
                               type="text"/>
                
                        <span class="help-block" *ngIf="(propForm.get('propertyType').touched || 
                                                        propForm.get('propertyType').dirty) && 
                                                        propForm.get('propertyType').errors">
                            <span *ngIf="propForm.get('propertyType').errors.required">
                                Please enter the type of house.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group"
                    [ngClass]="{'has-error': (propForm.get('location').touched || 
                    propForm.get('location').dirty) &&
                    !propForm.get('location').valid }">
                    <label class="col-md-2 control-label"
                        for="location">Property Location: </label>

                    <div class="col-md-8">
                        <input class="form-control"
                                id="location" 
                                name="location" 
                                formControlName = "location"
                                type="text"/>
                
                        <span class="help-block" *ngIf="(propForm.get('location').touched || 
                                                        propForm.get('location').dirty) && 
                                                        propForm.get('location').errors">
                            <span *ngIf="propForm.get('location').errors.required">
                                Please enter the property`s residential.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group"
                    [ngClass]="{'has-error': (propForm.get('price').touched || 
                    propForm.get('price').dirty) &&
                    !propForm.get('price').valid }">
                    <label class="col-md-2 control-label"
                        for="price">Property Price: </label>

                    <div class="col-md-8">
                        <input class="form-control"
                                id="price" 
                                name="price" 
                                formControlName = "price" 
                                type="number"/>
                
                        <span class="help-block" *ngIf="(propForm.get('price').touched || 
                                                        propForm.get('price').dirty) && 
                                                        propForm.get('price').errors">
                            <span *ngIf="propForm.get('price').errors.required">
                                Please enter the property`s price.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group"
                    [ngClass]="{'has-error': (propForm.get('description').touched || 
                    propForm.get('description').dirty) &&
                    !propForm.get('description').valid }">
                    <label class="col-md-2 control-label"
                        for="description">Property Description: </label>

                    <div class="col-md-8">
                        <input class="form-control"
                                id="description" 
                                name="description" 
                                formControlName = "description" 
                                type="text"/>
                
                        <span class="help-block" *ngIf="(propForm.get('description').touched || 
                                                        propForm.get('description').dirty) && 
                                                        propForm.get('description').errors">
                            <span *ngIf="propForm.get('description').errors.required">
                                Please enter the property`s description.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label"
                        for="imageUrl">Property Image URL: </label>

                    <div class="col-md-8">
                        <input class="form-control"
                                id="imageUrl" 
                                name="imageUrl" 
                                formControlName = "imageUrl" 
                                type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-success"
                                    [disabled]="!propForm.valid" 
                                    type="submit">
                                Save
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="panel-footer">
        <span>
            <a class="btn btn-default" (click)="onBack()" style="width: 80px">
            <i class ="glyphicon glyphicon-chevron-left"></i> Back</a>
        </span>
    </div>
</div>
    