thead {
    color: black;
}

.panel-body
{
    text-align:left;
}

.panel-primary
{
    margin-top:75px;
    background-color: #ffffcc;
}

.panel-heading
{
    color:black;
    background-color: #0080ff
}
