<div class='panel panel-primary' id="container">
    <div class='panel-heading' align="center">
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter By:</div>
            <div class='col-md-4'>
                <input type="text"
                    [(ngModel)]='listFilter'/>
            </div>   
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>Properties: {{listFilter}}  </h3>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table'
                    *ngIf='properties && properties.length'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary' (click) = 'toggleImage()'>
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Property Type</th>
                        <th>Location</th>
                        <th>Price</th>
                        <th><button type="submit" [routerLink]="['/add-property']" class="push-button-down btn btn-success" title="New property">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </th>
                    </tr>
                </thead>
                    <tr *ngFor='let property of filteredProperties | paginate: { itemsPerPage: 5, currentPage: page }'>
                        <td >
                            <img class="img-rounded img-responsive"
                                [src]='property.imageUrl'
                                [title] ='property.propertyType'
                                [style.width.px] ='150'
                                [style.margin.px] ='2' *ngIf='showImage'/>
                        </td>
                        <td><a [routerLink]="['/property', property._id]">{{property.propertyType}}</a></td>
                        <td>{{property.location  | convertToSpaces:'-'}}</td>
                        <td>{{property.price | currency:'EUR':true:'1.2-2'}}</td>
                        <td>
                            <button type="button" class="btn btn-warning" [routerLink]="['/edit-property', property._id]" title="Edit">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button><br><br>
                            <button type="button" class="btn btn-danger" (click)="deleteProperty(property);" title="Delete"> 
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                        
                    </tr>
                <tbody>
                </tbody>
            </table>
        </div>
        <div align="center">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
</div>


