<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="password" value="wrjeorngtq3ontgowenorhnwewrqwj3mrpo124rty3jgsg"/>
  </appSettings>

  <!--
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>Oi1vfnWOonOmakgAx6ZpcRX+oVW5M+/YAc0JMK6w6RwMYNKfkdr7j2HPNBI/BjaH/9a/VnNcWM7p5CmkDk1vz7pBk6z77kJWNimDqjexZA6GAK+fSv5hNv5TS6PwGh2irQ+8gY4cudXu3UWoz6BaY66JTL7oPg0acLkUuqL+7Fw=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>8R47ngO44c1iSOqvdrmGylPJeXYa87gK9bDpyTNXVP3uNKaNpy0biZ5aASyeJTHn4CvSnFWus26ge0U0QHe68yCBjBIQPJ2CltC/siBKIb3nlCQlcl9kmuH9vRb1vUvRWZ3PM6JjYvtT6Hr//Py7LqW5zKnk58EEKtqJjCuszc3Io3WBS8AWAFSg7AmiCIx1BrLQ9ZlA3i0oWyCu8WdWsvOO9RahbG49w1lpkRbWGHHmrEmiMa6qZl+ZhSwXky1dOWnFHtB63we1zEwAev2IIbbapmhGMluw55oxBCcEJKJPQpGSWSb4mB9VJpBGh80qAITZxNp3mjZUGEa6UCAb7c91k+p8Oru6XdXMU8bSLBwHluNI+npsYauuOxTDehL0R7TswS+VO9QQ5ffGOC2RvAg0NA52h8BTkvPmxwBCcJWRD5Wv5C6RZk4YFqnO/0AdNLRaoeIfJzdgde+lR2GIf0Xs0fZ2f57YGyIeO4wZwf0ImrzDncfSol0lqZju5hVEUrefLyUgJyXABI/HFjArzmZJYni7CoSDPIKTWmqLfaArVChJ7KAGOjcrv2rFYFDuOyKCL45svncEMaI3Ubo88uQc6C+gcaZQsKmQmq4cSHEtWjlgXz7eVtkMxVHk/sU26GqkvgAbm9Y8Ni3u3b4Z4PnToEF+VCX3hf24m280uVj1CFrVRzy5T90WtI+REaPRTvLFdVMTllhFoyPf5I0QZrmgtMAQByke40vHWof5gaRcgTEqQOhEUMjdnACRDeFcxlk1/aJQ3h/XWbbw3NLL5l3xBM06LsnMvRw/hv2YmFTwNYMUCmPYfqyEumV9dFIHGj8+R247aVqXaZJt5zUM6gmfT0IAmTBLnxEKaE5p6L6wWpo+zYx9l25OEYbljeGmHxYii4zw67c=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  -->

  <connectionStrings>
    <add name="SecurityDatabaseEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BJ4VFH4;initial catalog=SecurityDatabase_A;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SecurityDatabaseEntities_user" connectionString="data source=DESKTOP-BJ4VFH4;initial catalog=SecurityDatabase_A;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.EntityClient" />
  </connectionStrings>


  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <authentication mode="Forms">
      <forms name="cookie3" timeout="5" loginUrl="\Accounts\Login"></forms>
    </authentication>
  </system.web>


  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>



  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>