
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>Send email recovery code</h2>

@using (Html.BeginForm())
{
    
}

<form method="post" action="\Accounts\ForgotPassword">
    @Html.AntiForgeryToken()

    <table>
        <tr>
            <td>Enter the email address:</td>
            <td><input type="email" name="email" /></td>
        </tr>
    </table>
    <p>
        <input type="submit" value="Send recovery code." />
    </p>
    <p>
        @Html.ActionLink("Already received an email?", "ResetPassword")
    </p>
</form>

