
@{
    ViewBag.Title = "ResetPassword";
}

<h2>Reset your Password</h2>

@using (Html.BeginForm())
{

}


<form method="post" action="\Accounts\ResetPassword">
    @Html.AntiForgeryToken()

    <table>
        <tr>
            <td>Re-enter the email address:</td>
            <td><input type="email" name="email" /></td>
        </tr>
        <tr>
            <td>Recovery code:</td>
            <td><input type="text" name="code" /></td>
        </tr>
        <tr>
            <td>New password:</td>
            <td><input type="password" name="password" /></td>
        </tr>
    </table>
    <p>
        <input type="submit" value="Reset password" />
    </p>
</form>